@charset "UTF-8";

.historia
{
    position: absolute;
    background-color: #014047de;
    width: 1000px;
    border-radius: 40px;
    box-shadow: #014047 0 0 2em;
    top: 1%;
    left: 13%;
}
.arthur1
{
    background-image: url("../imagens/fundo/arvoreAr700x.png");
    background-size: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.644);
    background-blend-mode: multiply;
    position: relative;
}
.fundosum
{
    background-image: url(../imagens/fundo/arvoreIn700x.png);
    background-size: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.644);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.forma
{
    width: 80%;
    height: 590px;
}
.quadradosum
{
    padding: 3%;
    height: 70%;
    background-color: #e688ab;
    border-radius: 10px;
    box-shadow: #e688ab 0 0 1.9em;
}
.imagem
{
    border-radius: 10%;
    margin: 10px;
    height: 540px;
    border: 0.1px solid #F9F5F2;
    box-shadow: #F9F5F2 0 0 1.5em;
}