@charset "UTF-8";

.historia
{
    position: absolute;
    background-color: #014047de;
    width: 1000px;
    border-radius: 40px;
    box-shadow: #014047 0 0 2em;
    top: 1%;
    left: 13%;
}
.arthur1
{
    background-image: url("../imagens/fundo/arvoreAr700x.png");
    background-size: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.644);
    background-blend-mode: multiply;
    position: relative;
}
.corpoprin
{
    background-image: linear-gradient(180deg, #071d24, #004d3e);
}
.fundosum
{
    background-image: url(../imagens/fundo/arvoreIn700x.png);
    background-size: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.644);
    background-blend-mode: multiply;
    position: relative;
}
.quadradosum
{
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #e688ab;
    height: 490px;
    width: 1000px;
    border-radius: 15px;
    box-shadow: #e688ab 0 0 1.9em;
    top: 50%;
    left: 13%;
}
.base3
{
    text-align: center;
}
.titulo1
{
    color: #F9F5F2;
    text-shadow: #F9F5F2 0 0 0.8em;
    text-align: center;
    margin: 30px;
}
.texto1
{
    color: #F9F5F2;
    text-align: center;
    position: relative;
}
.texto2
{
    text-align: center;
    margin: 10px;
    color: #EB876B;
}
.texto3
{
    text-align: center;
    margin: 10px;
    color: #F9F5F2;
}
.alinharsum
{
    text-align: center;
    position: relative;
}
.texto4
{
    color: #e6e2df;
    text-decoration: none;
}
.texto4:hover
{
    color: #ffffff;
    text-decoration: underline;
}
.imagem
{
    border-radius: 10%;
    margin: 10px;
    height: 540px;
    border: 0.1px solid #F9F5F2;
    box-shadow: #F9F5F2 0 0 1.5em;
}
.palavra
{
    color: white ;
    text-shadow: #F9F5F2 0 0 0.3em;
}