@charset "UTF-8";

.historia
{
    position: absolute;
    background-color: #014047de;
    width: 1000px;
    border-radius: 40px;
    box-shadow: #014047 0 0 2em;
    top: 1%;
    left: 13%;
}
.livros
{
    text-align: center;
}
.arthur1
{
    background-image: url("../imagens/fundo/arvore\ 700.png");
    background-size: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.644);
    background-blend-mode: multiply;
    position: relative;
}
.corpoprin
{
    background-color:#092932;
}
.fundosum
{
    background-color: #092932;
}
.quadradosum
{
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #EB876B;
    height: 450px;
    width: 1000px;
    border-radius: 15px;
    box-shadow: #EB876B 0 0 1.9em;
    top: 10%;
    left: 13%;
}
.base3
{
    text-align: center;
}
.titulo1
{
    color: #F9F5F2;
    text-shadow: #F9F5F2 0 0 0.8em;
    text-align: center;
    margin: 30px;
}
.texto1
{
    color: #F9F5F2;
    text-align: center;
    position: relative;
}
.texto2
{
    text-align: center;
    margin: 10px;
    color: #EB876B;
}
.texto3
{
    text-align: center;
    margin: 10px;
    color: #F9F5F2;
}
.alinharsum
{
    text-align: center;
    position: relative;
}
.texto4
{
    color: #F9F5F2;
    text-decoration: none;
}
.texto4:hover
{
    text-decoration: underline;
}
.imagem
{
    border-radius: 10%;
    margin: 10px;
    height: 540px;
    border: 1px solid #F9F5F2;
    box-shadow: #F9F5F2 0 0 1.1em;
}
.imagem2
{
    position: absolute;
    transform: rotate(180deg);
    top: 84%;
}
.palavra
{
    color: white ;
    text-shadow: #F9F5F2 0 0 0.3em;
}